*{
  box-sizing: border-box;
}
h1{
font-size: 30px;
border:2px dashed black;
border-radius: 20px;
width:20%;
margin: auto;
margin-bottom: 40px;
}
img{
  height:100px;
  width:10%;
}
button{
  color:blue;
  margin-bottom: 15px;
  margin: auto;
  font-size: 20px;
  margin-left: 5%;
  width:5%;
  border:2px dashed black;
  height: 50px;
  border-radius: 50px;
  /* text-align: center; */
  background-image: url("css/quarterhead.jpg");
}
body{
  text-align: center;
  background-image: url('/css/quarterhead.jpg');
}
section{
  font-size: 30px;
  font-weight: 400;
}

/* .coin{
animation-name: flip;
animation-duration: 1s;
animation-fill-mode: forwards;

  border:2px solid black;
  border-radius: 50px;
  width:10%;
  height: 100px;
  background-color: red;

} */
/* @keyframes flip{
  100%{
    transform: rotate3d(0, 1, 0, 1080deg);

  }

} */
